*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.log
*.apk
*.keystore
*.jks
/.idea/

# Dataset del modelo, pesa mucho, no se sube
modelo-ia/dataset/*
!modelo-ia/dataset/.gitkeep
modelo-ia/entrenamiento/salidas/
